:root {
    --standard-dark-green: rgb(55, 68, 65);
    --standard-white: rgb(240, 230, 197);
    --standard-light-green: rgb(91, 126, 103);
    --standard-green: rgb(82, 109, 91);
}


body {
    padding: 0;
    margin: 0;
    font-family: 'Merriweather', serif;
    color: var(--standard-dark-green);
}

button {
    background: none;
    font-family: 'Merriweather', serif;
    font-size: larger;
    color: var(--standard-dark-green);
    border-radius: 1rem;
    width: 8rem;
    height: 3rem;

    border-color: var(--standard-green);
    border-style: solid;
    box-shadow: 0rem 0rem .3rem var(--standard-dark-green);
    transition: 150ms;
}

button:hover {
    border-color: var(--standard-white);
    color: var(--standard-white);
    transform: scale(1.05);
}

#banner-container {
    background-color: var(--standard-light-green);

    color: var(--standard-white);
    display: flex;
    align-self: auto;
    justify-content: space-between;

    height: 5rem;
    box-shadow: 0rem 0rem 2rem var(--standard-green);
    z-index: 5;
}

.shop-title {
    margin-left: 2rem;
    align-items: center;
}

#banner-button-container {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.banner-buttons {
    color: var(--standard-white);
    border-color: var(--standard-green);
    box-shadow: 0rem 0rem .3rem var(--standard-green);
    margin-right: 2rem;
}
.banner-buttons:hover {
    border-color: var(--standard-white);
    color: var(--standard-white);
}

#rooms-container {
    display: flex;
    z-index: 0;
    background-image: url("/images/porch.png");
    background-repeat: no-repeat;
    height: 701px;

    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: inset 0rem 0rem 200rem var(--standard-dark-green);
}

.overlay {
    color: var(--standard-white);
    background-color: rgba(55, 68, 65, 0.733);
    box-shadow: 0rem 0rem 4rem var(--standard-dark-green);
    border-color: rgba(55, 68, 65, 0.733);
}

.overlay-header {
    padding: 1rem;
    border-radius: 1rem;
    box-shadow: 0rem 0rem 1rem var(--standard-dark-green);
}